<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <table class="table">
  <tbody >
    <tr >
      <td class="img-thumbnail">
        <img src="{{producto.Foto}}" height="200px" width="200px" alt=""></td>
    </tr>
    <tr>
      
      <th scope="row">Titulo</th>
      <td>{{producto.Titulo}}</td>
    </tr>
    <tr>
      <th scope="row">Precio</th>
      <td>{{producto.Precio}}</td>
    </tr>
    <tr>
      <th scope="row">Categoria</th>
      <td>{{producto.Categoria}}</td>
    </tr>
    <tr>
      <th scope="row">Publicador</th>
      <td>{{producto.Publicador}}</td>
    </tr>
    <tr>
      <th scope="row">DescripcionLarga</th>
      <td>{{producto.DescripcionLarga}}</td>
    </tr> 
  </tbody>
</table>
<td><button type="button" class="btn btn-danger">Comprar</button></td>


  </div>
  <div class="col-md-3"></div>
</div>