<div class="container">
  <h2>User Detail</h2>
  <h3><i>Just a FormControl</i></h3>
  <form [formGroup]="registrarseForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label class="center-block">Username:
        <input class="form-control" name="UserName"
      id="UserName" formControlName="UserName">
      </label>
    </div>
    <div [hidden]="!registrarseForm.controls.UserName.errors" class="alert alert-warning">
      <strong>  <p>El usuario debe tener entre 8 y 24 caracteres</p> </strong>
    </div>
    <div class="form-group">
      <label class="center-block">Password:
       <input type="password" class="form-control" formControlName="Password">
      </label>
    </div>
    <div *ngIf="registrarseForm.controls.Password.errors" class="alert alert-warning">
      <strong>  <p>El password debe tener entre 8 y 24 caracteres</p> </strong>
    </div>
    <div class="form-group">
      <label class="center-block">e-mail:
      <input class="form-control" formControlName="Mail">
    </label>
    </div>
    <div *ngIf="registrarseForm.controls.Mail.errors" class="alert alert-warning">
      <strong>  <p>El mail tiene el formato incorrecto</p> </strong>
    </div>
     <div class="form-group">
     <button [disabled]="!registrarseForm.valid" class="btn btn-success">Submit</button>
     </div>

  </form>
  <p>Form value: {{ registrarseForm.value | json }}</p>
  <p>Form status: {{ registrarseForm.status | json }}</p>
  <p>Username status: {{ registrarseForm.controls.UserName.status | json }}</p>

</div>

<ul class="heroes">  
  <li *ngFor="let user of users" >
    <span class="badge">{{user.UserName}}</span> {{user.Mail}}
  </li>
</ul>