 
  <div class="container">
 <div class="row">
  <div class="col-md-2">
<table class="table">  
     <thead>
      <tr>
        <th class="text-primary">Genero</th>     
      </tr>
      </thead>
      <tbody>   
      <tr>
        <td>Mujer</td>        
      </tr>
      <tr>
        <td>Hombre</td>
      </tr>
      <tr>
        <td>Niños</td>
      </tr>           

    </tbody>
  </table>
  <table class="table">  
     <thead>
      <tr>
        <th class="text-primary">Marca</th>     
      </tr>
      </thead>
      <tbody>   
      <tr>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>Nike</td>
      </tr>
      <tr>
        <td>Puma</td>
      </tr>
      <tr>
        <td>New Balance</td>
      </tr>
      <tr>
        <td>Reebok</td>
      </tr>      
    </tbody>
  </table>
   <table class="table">  
     <thead>
      <tr>
        <th class="text-primary">Estilos</th>     
      </tr>
      </thead>
      <tbody>   
      <tr>
        <td>Urbanas</td>
      </tr>
      <tr>
        <td>Deportivas</td>
      </tr>
      <tr>
        <td>Skate</td>
      </tr>
    </tbody>
  </table>  
  </div></div>          
  <table class="table">  
     <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Lastname</th>
        <th>Lastname</th>
        <th>Lastname</th>
      </tr>
      </thead>
    <tbody *ngFor="let product of Productos">
    
      <tr>
        <td class="img-thumbnail"><img src="{{product.Foto}}" height="200px" width="200px" alt=""></td>
        <td>{{product.Titulo}}</td>
        <td>{{product.Titulo}}</td>
        <td>{{product.DescripcionCorta}}</td>
        <td>{{product.Precio}}</td>       
        <td><a  (click)="gotoDetail(product)">Ver más detalles</a> </td>
        
        
      </tr>  
    </tbody>
  </table>
</div>

