<div class="row">
  <div class="col-md-2">
<table class="table">  
     <thead>
      <tr>
        <th class="text-primary">Genero</th>     
      </tr>
      </thead>
      <tbody>   
      <tr>
        <td>Mujer</td>        
      </tr>
      <tr>
        <td>Hombre</td>
      </tr>
      <tr>
        <td>Niños</td>
      </tr>           

    </tbody>
  </table>
  <table class="table">  
     <thead>
      <tr>
        <th class="text-primary">Marca</th>     
      </tr>
      </thead>
      <tbody>   
      <tr>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>Nike</td>
      </tr>
      <tr>
        <td>Puma</td>
      </tr>
      <tr>
        <td>New Balance</td>
      </tr>
      <tr>
        <td>Reebok</td>
      </tr>      
    </tbody>
  </table>
   <table class="table">  
     <thead>
      <tr>
        <th class="text-primary">Estilos</th>     
      </tr>
      </thead>
      <tbody>   
      <tr>
        <td>Urbanas</td>
      </tr>
      <tr>
        <td>Deportivas</td>
      </tr>
      <tr>
        <td>Skate</td>
      </tr>
    </tbody>
  </table>

  </div>
  <div class="col-md-6">
  <div class="container">          
  <table class="table table-hover">  
     <thead>
      <tr>
        <th></th>
        <th><p class="text-primary">Producto</p></th>
        <th><p class="text-primary">Descripcion</p></th>
        <th><p class="text-primary">Precio</p></th>
        <th></th>
        
      </tr>
      </thead>
    <tbody *ngFor="let product of Productos">
    
      <tr>
        <td class="img-thumbnail"><img id="myImg" name="imagen" src="{{product.Foto}}" onclick="ampliar(this.src);" height="200px" width="200px" alt=""></td>
        <td>{{product.Titulo}}</td>
        <td>{{product.DescripcionCorta}}</td>
        <td>{{product.Precio}}</td>
        <td><button type="button" class="btn btn-primary">Ver mas detalles</button></td>
        
        
      </tr>  
    </tbody>
  </table>
</div>
<div id="myModal" class="modal">
  <span class="close" onclick="cerrar();">×</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>

  </div>
  <div class="col-md-3"></div>
</div>

